.cardWrapper {
    position: relative;
    z-index: 0;
    flex-basis: 350px;
}

.parent{
    background-image: url('../components/images/card_back9.png');
    background-size: 100% 100%;
}

.child {
    position: relative;
    z-index: -1;
}

@media (max-width: 576px) {
    .cardWrapper {
        flex-basis: 335px;
    }
}


