body, html{
    display: flex;
    justify-content: center;  
    background: #49483F;  /* fallback for old browsers */
    height: 100%;
    width: 100%;
}

h1 {
    color: whitesmoke;
}

.header {
    margin-top: 50px;
}

.title {
    font-size: large ;
    font-family: candara;
    font-weight: 500;
    max-height: 170px; 
}   

.burpee {
    text-shadow: 2px 2px rgb(27, 20, 20);   
}

.form-control {
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    height: 46px;
}

.reminder-container {
    grid-template-columns: auto;
    min-width: 330px;
    max-width: 900px;
    height: 2fr;
}

.btn-success {
    margin-right: 30px;
    margin-left: 10px;
}

.btn-dark {
    float: right;
}

.btn-primay {
    float: left;
    width: 39.08px;
    height: 38px;
}

.add-button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #AEA984;
    color: whitesmoke;
}

.list-item {
    display: inline-block;
}

.clear-button {
    float: right;
    margin-top: 15px;
}

.achieve-button {
    float: left;
    margin-top: 15px;
    height: 39px;
}

.notif-button {
    margin-top: 15px;
    height: 39px;
}

.signout-button {
    background-color: #FFF8BD;
    border-color: #FFF8BD;
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}

.home-button {
    background-color: #FFF8BD;
    border-color: #FFF8BD;
    float: left;
    margin-top: 15px;
}

.list-group-item {
    margin-top: 10px;
    background-color: #F6F3DF;
    border-color: #F6F3DF;
}

.reminder-inputs {
    background-color: #A9A68F;
    border-color: #A9A68F;
}


@media (max-width: 576px) {
    .reminder-container {
        grid-template-columns: auto;
        min-width: 20vh;
        height: 2fr;
    }

    .title {
        font-size: small;
        font-family: candara;
        font-weight: 500;
    }   

    .signout-button {
        background-color: #FFF8BD;
        border-color: #FFF8BD;
        float: right;
        margin-top: 23px;
        height: 35px;
        width: 80px;
        font-size: small;
    }

    .reminder-inputs {
        display: inline-block;
    }

    .btn-success {
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        float: right;
    }

    .date-input {
        margin-bottom: 10px;
    }

}